[submodule "Carthage/Checkouts/HTMLReader"]
	url = https://github.com/nolanw/HTMLReader.git
[submodule "Carthage/Checkouts/Mantle"]
	url = https://github.com/ChatSecure/Mantle.git
[submodule "Carthage/Checkouts/SignalProtocolC"]
	url = https://github.com/ChatSecure/SignalProtocolC.git
[submodule "Carthage/Checkouts/SignalProtocol-ObjC"]
	url = https://github.com/ChatSecure/SignalProtocol-ObjC.git
[submodule "Carthage/Checkouts/Alamofire"]
	url = https://github.com/Alamofire/Alamofire.git
